In [1]:
#读写文本格式的数据

In [7]:
cat ch06/ex1.csv

SyntaxError: invalid syntax (<ipython-input-7-cf0086d84609>, line 1)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('ch06/ex1.csv')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('ch06/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('ch06/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('ch06/ex1.csv',names=['a','b','c','d','names'])

   a   b   c   d    names
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [13]:
names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
parsed = pd.read_csv('ch06/csv_mindex.csv',index_col=['key1','key2'])

In [16]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
result = pd.read_table('ch06/ex3.txt',sep='\s+')

In [20]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
result = pd.read_csv('ch06/ex4.csv',skiprows=[0,2,3])

In [22]:
result

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
result = pd.read_csv('ch06/ex5.csv')

In [25]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [27]:
result = pd.read_csv('ch06/ex5.csv',na_values=['NULL'])

In [28]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
sentinels = {'message':['foo','NA'],'something':['two']}
pd.read_csv('ch06/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [ ]:
#逐块读取文本文件

In [ ]:
result = pd.read_csv('ch06/ex6.csv')

In [ ]:
result

In [ ]:
pd.read_csv('ch06/ex6.csv',nrows=5)