In [4]:
#数据集的合并
import pandas as pd
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],
                'data1':range(7)})

In [5]:
df2 = pd.DataFrame({'key':['a','b','d'],
                   'data2':range(3)})

In [6]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [7]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [8]:
 pd.merge(df1,df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [9]:
 pd.merge(df1,df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [11]:
df3 = pd.DataFrame({
        'lkey':['b','b','a','c','a','a','b'],
        'data1':range(7)
    })
df4 = pd.DataFrame({
        'rkey':['a','b','d'],
        'data':range(3)
    })

In [12]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

   data1 lkey  data rkey
0      0    b     1    b
1      1    b     1    b
2      6    b     1    b
3      2    a     0    a
4      4    a     0    a
5      5    a     0    a

In [13]:
pd.merge(df1,df2,how='outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [14]:
#多对多的合并操作
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],
                'data1':range(7)})
df2 = pd.DataFrame({'key':['a','b','a','b','d'],
                   'data2':range(5)})

In [15]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [16]:
df2

   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d

In [17]:
pd.merge(df1,df2,on='key',how='left')

    data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
5       2   a    2.0
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   a    0.0
10      5   a    2.0
11      6   b    1.0
12      6   b    3.0

In [18]:
pd.merge(df1,df2,how='inner')

    data1 key  data2
0       0   b      1
1       0   b      3
2       1   b      1
3       1   b      3
4       6   b      1
5       6   b      3
6       2   a      0
7       2   a      2
8       4   a      0
9       4   a      2
10      5   a      0
11      5   a      2